// COMMON

@use "./variables" as *;

.container {
  margin: 0 1rem;
  text-align: center;
  .row {
    display: flex;
    flex-wrap: wrap;

    .col-25 {
      width: 25%;
    }
  }
}

.mb-1 {
  margin-bottom: 1rem;
}

.radius {
  border-radius: 50%;
}
